<div class="row">
    <div class="col-md-8 col-md-offset-2" ng-init="show=false">

        <ol class="breadcrumb">
            <li><a href="#/lists">Lists</a>
            </li>
            <li class="active">{{currentList}}</li>
        </ol>

        <form class="form-inline">
            <input type="text" class="form-control" placeholder="add new item" ng-model="newItemName">
            <button type="submit" class="btn btn-default" ng-click="addItem()">Add Item</button>
        </form>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Find item" ng-model="findItem">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
        </div>

        <div class="list-group">
            <p href="#/lists/{{list.id}}" class="list-group-item animate-repeat" ng-repeat="item in list  | filter:findItem">{{item.name}}<span class="badge" ng-click="deleteItem($index)">x</span>
            </p>

        </div>
    </div>
</div>
